@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1689757973718') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e64e";
}

.icon-email:before {
  content: "\e66f";
}

